{
  "plugins": ["transform-object-assign"],
  "env": {
    "es5": {
      "presets": ["env"]
    },
    "es6": {
      "presets": [
        ["env", {
          "modules": false,
          "loose": true
        }]
      ]
    }
  }
}
